.banner1{
    background-image: url('http://placehold.it/1900x1080');
}
.banner2{
    background-image: url('http://placehold.it/1900x1080');
}
.banner3{
    background-image: url('http://placehold.it/1900x1080');
}